


.my-skills .bar:nth-of-type(1) {
  animation-delay: 150ms;
}
.my-skills .bar:nth-of-type(2) {
  animation-delay: 270ms;
}
.my-skills .bar:nth-of-type(3) {
  animation-delay: 390ms;
}
.my-skills .bar:nth-of-type(4) {
  animation-delay: 510ms;
}
.my-skills .bar:nth-of-type(5) {
  animation-delay: 630ms;
}
.my-skills .bar:nth-of-type(6) {
  animation-delay: 750ms;
}
.my-skills .bar:nth-of-type(7) {
  animation-delay: 860ms;
}
.my-skills .bar:nth-of-type(8) {
  animation-delay: 980ms;
}
.my-skills .bar:nth-of-type(9) {
  animation-delay: 1100ms;
}
.my-skills .bar:nth-of-type(10) {
  animation-delay: 1220ms;
}
.my-skills .bar:nth-of-type(11) {
  animation-delay: 1340ms;
}
.my-skills .bar:nth-of-type(12) {
  animation-delay: 1460ms;
}


.me-content .my-about:nth-of-type(1) {
animation-delay: 150ms;
}
.me-content .my-about:nth-of-type(2) {
  animation-delay: 300ms;
}
.me-content .my-about:nth-of-type(3) {
  animation-delay: 450ms;
}
.me-content .my-about:nth-of-type(4) {
  animation-delay: 600ms;
}